.connector-app {
  .mps-home {
    background: var(--background2);

    .mx-scrollcontainer-wrapper {
      position: relative;
    }

    &-section {
      width: 755px;
      background: var(--background0);
      max-width: 100vw;
      margin: 0 auto;

      @media only screen and (min-width: 768px) {
        margin: 20vh auto 0;
        box-shadow: 0px 2px 20px rgba(10, 19, 37, 0.0545);
        border-radius: 5px;
      }

      .intro-text {
        margin: 2rem 2rem 4rem;

        @media only screen and (min-width: 768px) {
          margin: 0 0 2rem;
        }
      }

      h1 {
        font-size: 18px;
      }

      h4 {
        font-size: 14px;
      }

      .sub-title {
        @media only screen and (max-width: 768px) {
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .img-responsive {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
      }

      .mx-button {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}
