.connector-app {
  .mps-overview {
    height: 100%;
    display: flex;
    align-items: stretch;

    &__sidebar1 {
      flex: 0 0 310px;
      display: flex;
      flex-direction: column;
      border-right: solid 1px var(--border);

      .top-navigation {
        padding: 16px;
        background: var(--background3);
        border-bottom: solid 1px var(--border);

        button {
          font-size: 14px;
        }
      }

      .bottom-navigation {
        margin-top: auto !important;
        background: var(--background3);
        text-align: left;
        padding: 16px 16px 2px;
        border-top: solid 1px var(--border);

        .mx-link {
          display: inline-block;
          line-height: 20px;
          margin-bottom: 14px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .mps-overview__accounts {
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 0.5rem;
        }

        overflow-y: auto;
        > ul {
          > li {
            padding: 0 16px;
            border-bottom: solid 1px var(--border);

            &.selected,
            &.selected:hover {
              background-color: var(--light-blue) !important;
            }
          }
        }

        .mx-groupbox {
          > .mx-groupbox-header {
            position: relative;
            padding: 8px 0px 12px 20px !important;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 294px;
            transition: 0.3s opacity;

            .mx-groupbox-collapse-icon {
              position: absolute;
              left: 0;
              top: 14px;
              color: var(--text2);
              font-size: 12px;
              transition: 0.3s all;

              &::before {
                content: '\e259' !important;
              }
            }

            &:hover {
              opacity: 0.7;
            }
          }

          > .mx-groupbox-body {
            padding: 0;
            transition: 0.3s all;
            max-height: 280px;
            display: block !important;
            overflow: hidden;

            .mps-navigation {
              .mx-link {
                display: inline-block;
                line-height: 20px;
                margin-bottom: 14px;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }

                .glyphicon {
                  &:before {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          &.collapsed {
            > .mx-groupbox-header {
              .mx-groupbox-collapse-icon {
                position: absolute;
                left: 0;
                top: 14px;
                color: var(--text2);
                font-size: 12px;

                &.glyphicon {
                  transform: rotate(180deg);
                }
              }
            }
            > .mx-groupbox-body {
              max-height: 0;
            }
          }
        }
      }
    }

    &__sidebar2 {
      flex: 0 0 294px;
      background: var(--background0);
      height: 100%;

      .mx-grid {
        height: 100%;
        overflow: hidden auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 0.5rem;
        }

        .mx-grid-controlbar {
          margin: 10px 0 0 !important;

          .mx-grid-toolbar {
            button {
              font-size: 14px;
            }
          }

          .mx-grid-pagingbar {
            margin: 0;
            justify-content: center;
            width: 100%;

            .mx-button {
              margin-bottom: 0;
              color: #3b4251;

              &[disabled] {
                opacity: 1;
                color: var(--border);
              }
            }
          }
        }
      }

      .templategrid-lined.mx-templategrid .mx-grid-content {
        border: 0 none;

        .mx-templategrid-item {
          border-color: var(--border);
          transition: 0.3s background-color;
          cursor: pointer;

          &:hover {
            background-color: var(--background3);
          }

          &.selected {
            background-color: var(--light-blue) !important;
          }
        }
      }

      .mx-grid-toolbar {
        margin: 0;
        padding: 0 8px 0 0;
        display: flex;
        justify-content: space-between;

        .mx-button {
          margin: 0 0 0 8px;
          flex: 1;
        }
      }
    }

    &__main {
      flex: 1;
      display: flex;
      align-items: stretch;

      .mx-dataview-content {
        height: 100% !important;
      }
    }

    &__email {
      display: flex;
      align-items: stretch;
      height: 100%;
    }

    &__list-from {
      position: relative;

      span {
        color: var(--text1);
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 4px;
      }

      .attach-icon {
        position: absolute;
        right: -2px;
        top: 3px;
      }
    }

    &__list--attach {
      padding-right: 36px;
    }

    &__list-subject {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--text2);
      margin-bottom: 2px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }

    &__list-date {
      margin: 0;
      line-height: 1;
      margin-bottom: 5px;
      color: var(--text2);

      .form-control-static {
        padding: 0;
        line-height: 1;
      }
    }

    &__email-section {
      flex: 1;

      .mx-dataview-content {
        background-color: var(--background0);
        margin-left: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
      }
    }

    &__email-body {
      background: #f5f5f5;
      border: solid 1px #efefef;
      padding: 19px;
    }

    &__email-header {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding-right: 16px;
      flex: 0 1 auto;
      max-height: 300px;

      > div {
        margin-bottom: 3px;
      }
    }

    &__email-content {
      flex: 1 1 auto;
    }

    &__email-subject {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      overflow: hidden;

      .subject-label {
        flex: 0 0 60px;
      }

      .subject-text {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mx-datepicker {
        margin: 0 0 0 auto;
        padding: 0 0 0 0.5em !important;
        text-align: right;
        color: var(--text2);

        .form-control-static {
          padding: 0;
          line-height: 20px;
          color: var(--text2);
        }
      }
    }

    &__email-content {
      flex: 1;
      overflow: auto;
    }

    &__email-table {
      margin: 32px 0 0;

      .mx-grid-controlbar {
        margin-bottom: 0;

        .mx-grid-toolbar {
          button {
            margin-bottom: 0;
            font-size: 14px;
          }
        }
      }

      .mx-grid-pagingbar {
        button {
          margin-bottom: 0;
        }
      }

      .mx-grid-content {
        tbody {
          tr {
            td {
              transition: background-color 0.3s all;
            }

            &:hover {
              td {
                background-color: #f8f8f8;
              }
            }

            &.selected {
              td {
                background-color: var(--light-blue) !important;
              }
            }
          }
        }
      }
    }
  }
}
