/* 
    ==========================================================================
    * Topbar
    ==========================================================================
*/

.layout-atlas 
{
  .toggle-btn
  {
    cursor: pointer;
    pointer-events: all;
    display: inline-block;
    .gsk-ui-icons
    {
      font-size: $topbar-close-icon-font-size;
      color: $topbar-close-icon-color;
      margin-top: 4px;
    }
  }
  &.layout-atlas-responsive-default
  {
    .toggle-btn
    {
      display: inline-block;  
    }
  }  
  &.layout-atlas-responsive-topbar 
  {
    .mx-scrollcontainer-push.mx-scrollcontainer-open 
    {
      .toggle-btn
      {
        .gsk-ui-icons::before
        {
          content: $topbar-close-icon;
        }
        img {
          display: none;
        }
      }
    }
    .topbar-content 
    {
      justify-content: space-between;      
      //Max Tablet
      @media screen and (max-width: $l) {
        justify-content: normal;

        .avatar-navigation {
          display: none;
        }
      }
      @media screen and (min-width: $l) {
        .toggle-btn {
          display: none;
        }
      }
      
    }
  }
  //for tablets
  &.layout-atlas-tablet 
  {
    @media (orientation: portrait) {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        max-width: $m;
      }
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid,
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid-fluid {
        max-width: $m;
      }
    }
    @media (orientation: landscape) {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        max-width: $l;
      }
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid,
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid-fluid {
        max-width: $l;
      }
    }
    .topbar-content {
      justify-content: normal;
      .navbar {
        display: none;
      }
      .toggle-btn {
        display: inline-block !important;
      }
    }
    &.tablet-blank {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        padding: 0;
      }
    }
  }
  &.layout-atlas-phone 
  {
    @media (orientation: portrait) {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        max-width: $xs;
      }
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid,
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid-fluid {
        max-width: $xs;
      }
    }
    @media (orientation: landscape) {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        max-width: 812px;
      }
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid,
      .mx-scrollcontainer .mx-placeholder .mx-layoutgrid-fluid {
        max-width: 812px;
      }
    }
    .topbar-content 
    {
      justify-content: normal;
      .navbar {
        display: none;
      }
      .toggle-btn {
        display: inline-block !important;
      }
    }
    &.phone-blank {
      .container,
      .container-sm,
      .container-md,
      .container-lg,
      .container-xl {
        padding: 0;
      }
    }
  }
  &.layout-atlas-phone,&.layout-atlas-tablet 
  {
    // .mx-scrollcontainer-push.mx-scrollcontainer-open 
    // {
    //   .toggle-btn
    //   {
    //     .gsk-ui-icons::before
    //     {
    //       content: $topbar-close-icon;
    //     }
    //     img {
    //       display: none;
    //     }
    //   }
    // }
  }

  .region-topbar {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid $topbar-border-color;
    background-color: $topbar-background-color;
    box-shadow: 0px 0px 8px 1px $topbar-boxshadow-color;
    // height: 65px;

    .topbar-column {
      padding-left: 13px;
    }

    .topbar-content {
      min-height: 62px;
      height: 62px;

      .navbar-brand {
        display: flex;
        align-items: center;

        img {
          height: $topbar-logo-height;
        }
        .navbar-brand_appname {
          margin-left: 16px;
          font-size: $topbar-appname-font-size;
          letter-spacing: 1px;
        }

        .app-version {
          padding-left: 10px;
          border-left: 1px solid $topbar-appversion-border-color;
          margin-left: 8px;
          font-size: $topbar-appversion-font-size;

          &.widget-badge {
            padding: 0.15em 0 0 10px;
            border-radius: 0;
            font-weight: $topbar-appversion-bagde-font-weight;
            background-color: $topbar-appversion-bagde-background-color;
            color: $topbar-appversion-bagde-font-color;
          }

          &:empty {
            border-left: none;
          }
        }
      }

      .navbar {
        align-items: flex-start;

        .mx-navbar-item:has(a[title=""], a[title="Login"]) {
          a:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

@include dense-layout {
  .region-topbar {
    min-height: 42px;
    height: 42px;

    .topbar-content {
      min-height: 42px;
      height: 42px;

      .navbar-brand {
        img {
          height: 22px;
        }
      }
    }
  }
}
