/* 
    ==========================================================================
    * Base pages
    ==========================================================================
*/

.confirmationpage-content
{
  min-height: calc(100vh - 217px); // 65px header height, 52 footer height and 100 px margin bottom for footer
  @media screen and (max-width: $l) {
    min-height: calc(100vh - 167px); // 65px header height, 52 footer height and 50 px margin bottom for footer
  }
  @media screen and (max-width: $s) {
    min-height: calc(100vh - 147px); // 65px header height, 52 footer height and 30 px margin bottom for footer
    .statuspage-buttons
    {
        position: absolute;
        bottom: 0;
    }
  }

}
