.connector-app {
  .mps-form {
    .mx-dataview-content,
    &__content {
      h4 {
        // margin-top: 54px;
        margin-top: 24px;
      }

      > div,
      > p {
        margin-top: 16px;

        &:first-child {
          margin-top: 0;
        }
      }

      .mx-textbox.form-group {
        &.label-75 {
          .col-sm-3 {
            max-width: 75%;
            flex: 0 0 75%;
          }
          .col-sm-9 {
            max-width: 25%;
            flex: 0 0 25%;
          }
        }

        &.label-50 {
          .col-sm-3 {
            max-width: 50%;
            flex: 0 0 50%;
          }
          .col-sm-9 {
            max-width: 50%;
            flex: 0 0 50%;
          }
        }
      }
    }

    &__table {
      tbody {
        > tr {
          > th {
            padding: 0 0 8px !important;

            > label {
              margin: 0 !important;
              padding: 0 !important;
            }

            > h4 {
              padding: 0 !important;
              margin: 12px 0 4px !important;
            }
          }

          td {
            padding: 0 0 8px !important;

            .form-group,
            .form-control-static {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
