@include dense-layout {
  .avatar-navigation {
    .avatar-navigation__avatar {
      right: 24px;
      width: 24px;
      height: 24px;

      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }

  .submenu-avatar {
    .avatar-navigation__avatar {
      right: 0;
    }
  }
}
