.topbar-content {
  .avatar-navigation {
    width: auto;

    &__avatar {
      right: 27px;
      width: 40px;
      height: 40px;
    }
  }
}

@include dense-layout {
  .avatar-navigation {
    .avatar-navigation__avatar {
      right: 24px;
      width: 24px;
      height: 24px;

      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }

  .submenu-avatar {
    .avatar-navigation__avatar {
      right: 0;
    }
  }
}
