.srs-success {
  .srs {
    .form-control {
      border-color: #008748;
      background-color: #e7f3ee;
    }
  }
}

.srs-warning {
  .srs {
    .form-control {
      border-color: #ffb800;
      background-color: #fdf5dc;
    }
  }
}

.srs-info {
  .srs {
    .form-control {
      border-color: #244ea2;
      background-color: #eef1f7;
    }
  }
}
