//
// ██████╗  █████╗ ███████╗███████╗
// ██╔══██╗██╔══██╗██╔════╝██╔════╝
// ██████╔╝███████║███████╗█████╗
// ██╔══██╗██╔══██║╚════██║██╔══╝
// ██████╔╝██║  ██║███████║███████╗
// ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝
// Base / Legacy / Helpers

//
// ====== base
//
$base-background-color: $gsk-background;
$base-selection-background-color: $gsk-secondary;
$base-scrollbar-track-background-color: #efefed;
$base-scrollbar-thumb-background-color: $gsk-border;
$base-scrollbar-thumb-hover-background-color: #bebebd;
$base-brandcolortext-font-color: $gsk-secondary;
$base-dataview-controls-border-color: $gsk-background-secondary;

//
// ====== typography
//
$typography-default-font-color: $font-color-default;
$typography-default-font-family: $font-family-base;
$typography-default-font-size: $font-size-default;

$typography-heading-primary-secondary-font-family: $font-family-light;
$typography-heading-others-font-family: $font-family-bold;
$typography-heading-font-weight: $font-weight-light;
$typography-heading-normal-font-weight: $font-weight-normal;
$typography-heading-bold-font-weight: $font-weight-bold;
$typography-heading-primary-font-color: $gsk-secondary;
$typography-heading-others-font-color: $font-color-default;

$typography-h1-font-size: $font-size-h1;
$typography-h2-font-size: $font-size-h2;
$typography-h3-font-size: $font-size-h3;
$typography-h4-font-size: $font-size-h4;
$typography-h5-font-size: $font-size-h5;
$typography-h6-font-size: $font-size-h6;
$typography-p-font-size: $font-size-default;

$typography-anchor-font-color: $font-color-default;
// status - hover/focus
$typography-anchor-status-font-color: $gsk-secondary;

$typography-textprimary-font-color: $gsk-secondary;
$typography-textsecondary-font-color: $font-color-default;
$typography-textinfo-font-color: $gsk-tertiary;
$typography-textsuccess-font-color: $gsk-success;
$typography-textwarning-font-color: $gsk-warning;
$typography-textdanger-font-color: $gsk-error;
$typography-textheader-font-color: $gsk-primary;
$typography-textdetail-font-color: $gsk-primary-light;
$typography-pageheadersubtitle-font-color: $font-color-default;

//
// ====== imported modules - no variables
//
