.btn,
.mx-button 
{
  box-sizing: border-box;
  padding: 9px 16px;
  border: 1px solid $button-border-color;
  border-radius: 8px;
  height: 40px;
  min-width: 77px;
  background-color: $button-background-color;
  color: $button-font-color;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
  line-height: 130%;
  &:has(span) {
    min-width: auto;
  }

  &:hover,
  &:active,
  &.active,
  &:focus {
    border-color: $button-status-border-color;
    box-shadow: 0px 0px 0px 1px $button-status-boxshadow-color;
    background-color: $button-status-background-color;
    color: $button-status-font-color;
  }

  &.disabled,
  &[disabled],
  &[aria-disabled] {
    border-color: $button-disabled-border-color;
    color: $button-disabled-font-color;
    opacity: 1;
    cursor: not-allowed;
  }

  &.btn-secondary,
  &.btn-default:not(.btn-toggle-tabs):not(.mx-link):not(.btn-primary):not(
      .btn-success
    ):not(.btn-danger):not(.mx-grid-reset-button):not(.btn-warning):not(
      .btn-link
    ):not(button[class*="mx-name-searchButton"]):not(button[text="Cancel"]) {
    border: 1px solid $button-border-color;
    box-sizing: border-box;
    background-color: $button-background-color;
    color: $button-font-color;

    &:hover,
    &:active,
    &.active,
    &:focus {
      box-shadow: 0px 0px 0px 1px $button-status-boxshadow-color;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border-color: $button-disabled-border-color;
      color: $button-disabled-font-color;
    }
    &.btn-bordered {
      border: 1px solid $button-border-color;
      background-color: $button-background-color;
      color: $button-font-color;

      &:hover:not(.toggle-btn),
      &:focus:not(.toggle-btn),
      &:active:not(.toggle-btn) {
        background-color: $button-background-color;
        color: $button-font-color;
        box-shadow: 0px 0px 0px 1px $button-status-boxshadow-color;
      }

      &.disabled,
      &[disabled],
      &[aria-disabled] {
        border-color: $button-disabled-border-color;
        color: $button-disabled-font-color;
      }
    }
  }

  &.btn-primary {
    border: 1px solid $button-primary-border-color;
    background-color: $button-primary-background-color;
    color: $button-primary-font-color;

    &:hover:not(.toggle-btn),
    &:focus:not(.toggle-btn),
    &:active:not(.toggle-btn) {
      border: 1px solid $button-primary-status-border-color;
      box-shadow: 0px 0px 0px 2px $button-primary-status-boxshadow-color;
      background-color: $button-primary-status-background-color;
      color: $button-primary-status-font-color;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border-color: $button-primary-disabled-border-color;
      background-color: $button-primary-disabled-background-color;
      color: $button-primary-disabled-font-color;
    }

    &.btn-bordered {
      border: 1px solid $button-primary-bordered-border-color;
      background-color: $button-primary-bordered-background-color;
      color: $button-primary-bordered-font-color;

      &:hover:not(.toggle-btn),
      &:focus:not(.toggle-btn),
      &:active:not(.toggle-btn) {
        background-color: $button-primary-bordered-status-border-color;
        color: $button-primary-bordered-status-font-color;
        box-shadow: 0px 0px 0px 1px
          $button-primary-bordered-status-boxshadow-color;
      }

      &.disabled,
      &[disabled],
      &[aria-disabled] {
        border-color: $button-primary-bordered-disabled-border-color;
        color: $button-primary-bordered-disabled-font-color;        
      }
    }
  }

  &.btn-success {
    border: 1px solid $button-success-border-color;
    background-color: $button-success-background-color;
    color: $button-success-font-color;

    &:hover:not(.toggle-btn),
    &:focus:not(.toggle-btn),
    &:active:not(.toggle-btn) 
    {
      border: 1px solid $button-success-status-border-color;
      box-shadow: 0px 0px 0px 2px $button-success-status-boxshadow-color;
      background-color: $button-success-status-background-color;
      color: $button-success-status-font-color;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border-color: $button-success-disabled-border-color;
      background-color: $button-success-disabled-background-color;
      color: $button-success-disabled-font-color;
    }

    &.btn-bordered {
      border: 1px solid $button-success-bordered-border-color;
      background-color: $button-success-bordered-background-color;
      color: $button-success-bordered-font-color;

      &:hover:not(.toggle-btn),
      &:focus:not(.toggle-btn),
      &:active:not(.toggle-btn) {
        background-color: $button-success-bordered-status-border-color;
        color: $button-success-bordered-status-font-color;
        box-shadow: 0px 0px 0px 1px
          $button-success-bordered-status-boxshadow-color;
      }

      &.disabled,
      &[disabled],
      &[aria-disabled] {
        border-color: $button-success-bordered-disabled-border-color;
        color: $button-success-bordered-disabled-font-color;
      }
    }
  }

  &.btn-danger {
    border: 1px solid $button-danger-border-color;
    background-color: $button-danger-background-color;
    color: $button-danger-font-color;

    &:hover:not(.toggle-btn),
    &:focus:not(.toggle-btn),
    &:active:not(.toggle-btn) {
      border: 1px solid $button-danger-status-border-color;
      box-shadow: 0px 0px 0px 2px $button-danger-status-boxshadow-color;
      background-color: $button-danger-status-background-color;
      color: $button-danger-status-font-color;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border-color: $button-danger-disabled-border-color;
      background-color: $button-danger-disabled-background-color;
      color: $button-danger-disabled-font-color;
    }

    &.btn-bordered {
      border: 1px solid $button-danger-bordered-border-color;
      background-color: $button-danger-bordered-background-color;
      color: $button-danger-bordered-font-color;

      &:hover:not(.toggle-btn),
      &:focus:not(.toggle-btn),
      &:active:not(.toggle-btn) {
        background-color: $button-danger-bordered-status-border-color;
        color: $button-danger-bordered-status-font-color;
        box-shadow: 0px 0px 0px 1px
          $button-danger-bordered-status-boxshadow-color;
      }

      &.disabled,
      &[disabled],
      &[aria-disabled] {
        border-color: $button-danger-bordered-disabled-border-color;
        color: $button-danger-bordered-disabled-font-color;
      }
    }
  }

  &.btn-warning {
    background-color: $button-warning-background-color;
    border: 1px solid $button-warning-border-color;
    color: $button-warning-font-color;

    &:hover:not(.toggle-btn),
    &:focus:not(.toggle-btn),
    &:active:not(.toggle-btn) {
      border: 1px solid $button-warning-status-border-color;
      box-shadow: 0px 0px 0px 2px $button-warning-status-boxshadow-color;
      background-color: $button-warning-status-background-color;
      color: $button-warning-status-font-color;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border-color: $button-warning-disabled-border-color;
      background-color: $button-warning-disabled-background-color;
      color: $button-warning-disabled-font-color;
    }

    &.btn-bordered {
      border: 1px solid $button-warning-bordered-border-color;
      background-color: $button-warning-bordered-background-color;
      color: $button-warning-bordered-font-color;

      &:hover:not(.toggle-btn),
      &:focus:not(.toggle-btn),
      &:active:not(.toggle-btn) {
        background-color: $button-warning-bordered-status-background-color;
        box-shadow: 0px 0px 0px 1px
          $button-warning-bordered-status-boxshadow-color;
      }

      &.disabled,
      &[disabled],
      &[aria-disabled] {
        border-color: $button-warning-bordered-disabled-border-color;
        color: $button-warning-bordered-disabled-font-color;
      }
    }
  }
  // Button as link
  &.btn-link,
  &.mx-grid-reset-button,
  &.mx-link {
    padding: 0 !important;
    border: none !important;
    border-bottom: 1px solid $button-link-border-color !important;
    border-radius: 0;
    min-width: 0;
    height: 30px;
    font-style: $button-link-font-style;
    font-weight: $button-link-font-weight;
    background-color: $button-link-background-color;
    color: $button-link-font-color;
    text-decoration: none !important;

    &:hover,
    &:active,
    &.active,
    &:focus {
      box-shadow: 0px 1px 0px 0px $button-link-status-boxshadow-style;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      opacity: 0.12;
    }
  }

  &.toggle-btn 
  {
    padding: 0;
    border-color: $button-link-togglebutton-border-color;
    border-radius: 0;
    background-color: $button-link-togglebutton-background-color;
    min-width: 35px !important;
    left: 8px;

    &:hover,
    &:focus {
      background-color: $button-link-togglebutton-status-background-color !important;
    }

    &.disabled,
    &[disabled],
    &[aria-disabled] {
      background-color: $button-link-togglebutton-disabled-background-color;
      color: $button-link-togglebutton-disabled-font-color;
    }
  }

  &.btn-calendar 
  {
    width: auto;
  }
  & + .mx-button {
    margin-left: 16px;
  }

  .glyphicon {
    font-size: $button-link-glyphicon-font-size;    
  }
  img
  {
    vertical-align: text-bottom;
    margin-right: 6px;
    height: 14px;
    // margin-bottom: 1px;
  }
  
  &.btn-sm {
    //font-size: $button-small-font-size;
    padding: 6px 16px;
    height: auto;
    &:has(span) {
      padding: 6px 8px 6px 16px;
    }
  }
  &.btn-lg {
    font-size: $button-large-font-size;
    padding: 8px 16px;
    font-weight: $button-large-font-weight;
    &.widget-badge-button {
      padding: 10px 8px 10px 16px;
    }
    .badge {
      font-size: $badgebutton-large-badge-font-size;
      top: 1px;
    }
  }
  &.figmaButton:before {
    content: "";
    background: $button-figma-icon no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
  }

  &:has(span)
  {
    display: flex !important;
    .gsk-ui-icons
    {
      margin-right: 4px;
    }
    &.btn-icon-right
    {
     .gsk-ui-icons
      {
        margin-right: 0px;
        margin-left: 4px;
      } 
    }
    &.icon-only
    {
      .gsk-ui-icons
      {
        margin-right: 0;
      }
    }
  }  
  &.btn-icon-right
  {
    img
    {
      margin-right: 0;
      margin-left: 8px;
      margin-bottom: -2px;
    }
  }
  &.icon-only
  {
    img
    {
      margin-right: 0;
      height:16px;
      margin-bottom: -1px;
    }
  }
  &:has(svg){
    display: flex;
  }
  
}

.btn-group 
{
  .btn-block 
  {
    width: auto;
  }
  .btn {
    border: none !important;
    background-color: $button-group-background-color !important;
    color: $button-group-font-color !important;

    & + .btn {
      margin-left: 0;      
    }

    &:hover {
      background-color: $button-group-hover-background-color !important;
      color: $button-group-hover-font-color !important;
    }

    &:hover,
    &:active,
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }

    &:active,
    &:focus {
      background-color: $button-group-status-background-color !important;
      color: $button-group-status-font-color !important;
    }
    &.disabled,
    &[disabled],
    &[aria-disabled] {
      border: 1px solid $button-disabled-border-color !important;
      color: $button-disabled-font-color !important;
      background-color:$button-disabled-background-color !important;
      & + .btn{
        border-left: none !important;
      }
    }
  }
  &.disabled,&[disabled],&[aria-disabled] {
      opacity:1;
      .btn
      {
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid $button-disabled-border-color !important;
        color: $button-disabled-font-color !important;
        background-color:$button-disabled-background-color !important;
        & + .btn{
          border-left: none !important;
        }
      }      
    }
}

/* Dropdown container with Elipsis*/

.dropdowncontainer-options {
  .btn {
    .caret {
      display: none;
    }
    .glyphicon {
      margin-right: 0;
    }
  }

  .dropdown-menu {
    top: 110%;
    right: 5%;
    left: auto;
  }
}

.toggleCheckLayout
{
  &:has(.mx-tabcontainer .mx-tabcontainer-tabs li:last-child.active),&:has(.mx-tabcontainer .mx-tabcontainer-tabs li:nth-child(3).active)  
  {
    .toggleStandard,.toggleDense
    {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
.toggleCheckTemplates
{
  &:has(.mx-tabcontainer .mx-tabcontainer-tabs li:last-child.active),&:has(.mx-tabcontainer .mx-tabcontainer-tabs li:nth-child(2).active)  
  {
    .toggleStandard,.toggleDense
    {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

@include dense-layout {
  .btn,.mx-button 
  {
    padding: 6px 16px;
    height: auto;

    &.icon-only
    {
      &:has(span) 
      {
        padding: 6px 8px;      
      }
      img
      {
        height: 14px;
      }
    }    
    &.btn-lg {
      &.widget-badge-button {
      padding: 8px 8px 8px 16px;
    }
    }
  }
}

