.mx-checkbox,
.mx-feedback__comment-checkbox 
{
  align-items: center;
  &.form-group {
    .control-label {
      font-size: $checkbox-font-size;
      margin-left: 2px;
    }
  }

  &.three-state-checkbox.semi-selected
  {
    input[type="checkbox"] 
    {
      &::before {
        border-color: $checkbox-checked-border-color;
        background-color: $checkbox-checked-background-color;
      }
      &:hover
      {
        background: $checkbox-checked-hover-background;//$checkbox-checked-hover-background-image;   
      }
      &::after 
      {
        content: "";
        width: 10px;
        height: 4px;
        margin: 6px 4px;
        transform: rotate(0deg);
        pointer-events: none;
        border: 0 solid #ffffff;
        border-bottom-width: 2px;
        transition: border 0s;
      }
            
    }
  }
}


input[type="checkbox"],input[type="checkbox"].three-state-checkbox
,input[type="checkbox"].three-state-checkbox:not(:indeterminate)
,input[type="checkbox"].three-state-checkbox
{
  outline: none !important;
  width: 30px;
  height: 30px;
  padding: 6px;
  &:hover
  {
    //box-shadow: 0px 0px 0px 3px $checkbox-hover-border-color;
    background: $checkbox-hover-background;//$checkbox-hover-background-image;    
    border-radius: 15px;    
  }
  &::before
  {
    border: solid 1px $checkbox-border-color;    
    border-radius: 2px;
    width: 18px;
    height: 18px;
    background-color: $checkbox-background-color;
  }

  &::after {
    margin: 5px 4px 5px 5px;
    width: 9px;
    height: 5px;    
    border-color: $checkbox-hover-border-color;
  }
  &:not(:disabled):not(:checked):hover:after{
    border-color: $checkbox-hover-border-color;     
  }

  &:checked,&:indeterminate 
  {
    &::before {
      border-color: $checkbox-checked-border-color;
      background-color: $checkbox-checked-background-color;
    }
    &:hover
    {
      background: $checkbox-checked-hover-background;//$checkbox-checked-hover-background-image;   
    }
  }
  &.disabled,
  &:disabled,
  &[disabled] 
  {
    background-image:none !important;
    &::before 
    {
      border-color: $checkbox-disabled-border-color !important;
      background-color: $checkbox-disabled-background-color;      
    }
    &:checked
    {
      &::before
      {
        background-color: $checkbox-checked-disabled-background-color;
      }
    }
    & + label {
      color: $checkbox-disabled-label-font-color;
    }
    &:hover
    {
      background: none;
    }
  }
  &:focus {
    outline-color: $checkbox-focus-outline-color;
  }
}
