/*
	==========================================================================
	* Datagrid - default Mendix datagrid 1.0
	==========================================================================
*/

.mx-grid,
.mx-datagrid {
  // position: relative;
  margin-bottom: 24px;
  @media screen and (max-width: $s) {
    margin-bottom: 8px;
  }
  .mx-grid-searchbar {
    align-items: flex-end;
    padding: 8px 16px 16px;
    border-radius: 8px;
    border: 1px solid $datagridshared-searchbar-border-color;
    margin: 0;
    margin-bottom: 24px;
    background: $datagridshared-searchbar-background-color;
    box-shadow: 0px 1px 8px $datagridshared-searchbar-boxshadow-color;

    .mx-grid-search-controls {
      & .mx-button + .mx-button {
        margin-left: 8px;
      }
      & .mx-grid-search-button + .mx-grid-reset-button {
        margin-left: 16px;
      }

      .mx-grid-search-button {
        @extend .btn-primary;
      }
    }

    .mx-grid-search-inputs {
      .mx-grid-search-item {
        display: inline-flex;
        flex-direction: column;
        margin: 8px;
        min-width: 150px;

        .mx-grid-search-label {
          text-align: left;
          width: auto;
          padding: 0;

          label {
            font-size: $datagridshared-searchbar-label-font-size;
            color: $datagridshared-searchbar-label-font-color;
            font-weight: $datagridshared-searchbar-label-font-weight;
            letter-spacing: 0.5px;
            margin-bottom: 10px;
          }
        }

        .mx-grid-search-input {
          width: auto;
          padding: 0;

          .form-control {
            font-size: $datagridshared-searchbar-input-font-size;
            height: auto;
          }

          select {
            &.form-control {
              padding: 8px;
              padding-right: 36px;
            }
          }

          .mx-button {
            height: auto;
            padding: 8px 10px;
          }

          .mx-compound-control {
            display: inline-block;
            position: relative;
            .form-control {
              display: inline-block;
              width: 100%;
            }

            .btn {
              padding: 4px;
              border-color: transparent !important;
              height: 42px;
              box-shadow: none !important;
              position: absolute;
              right: 0;
              top: 4px;
              font-size: $datagridshared-searchbar-calendar-icon-font-size !important;
              @include material-icons;
              &::before {
                content: $datagridshared-searchbar-calendar-icon;
              }
              .glyphicon-calendar {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .mx-grid-content {
    margin-bottom: 24px;
  }
  .mx-grid-controlbar {
    // margin-bottom: 24px;

    .mx-grid-toolbar {
      > *:not(.btn-block) {
        margin-left: 8px;

        &:last-child {
          //
          margin-right: 0;
        }
      }

      button[class*="mx-name-searchButton"] {
        margin-left: 24px;
        margin-right: 16px;
        position: relative;
        .glyphicon {
          display: none;
        }
        &::before {
          @include material-icons;
          content: $datagrid-searchbar-search-icon !important;
          position: absolute;
          left: -24px;
        }
      }

      button[class*="mx-name-searchButton"],
      button[text="Cancel"] {
        padding: 0;
        border: none !important;
        border-bottom: 1px solid $datagrid-controlbar-buttons-border-color !important;
        border-radius: 0;
        min-width: 0;
        height: 30px;
        background-color: $datagrid-controlbar-buttons-background-color;
        color: $datagrid-controlbar-buttons-font-color;
        text-decoration: none !important;
        font-style: $datagrid-controlbar-buttons-font-style;
        font-weight: $datagrid-controlbar-buttons-font-weight;
        display: inline-block !important;
        @media screen and (max-width: $s) {
          display: block !important;
          margin-bottom: 12px;
        }

        &:hover,
        &:active,
        &.active,
        &:focus {
          box-shadow: 0px 1px 0px 0px
            $datagrid-controlbar-buttons-status-boxshadow-color;
        }

        &.disabled,
        &[disabled] {
          opacity: 0.12;
        }
      }
    }

    .mx-grid-pagingbar {
      position: absolute;
      bottom: -20px;
      right: 0;
      align-items: center;
    }
  }

  th,
  td {
    font-size: $datagrid-table-font-size;
    color: $datagrid-table-font-color;
  }

  //class to add horizontal scroll to the datagrid - not working, to be rechecked
  &.datagrid-horizontal {
    overflow-x: auto;

    table {
      //class "fixed-column" to have the colum fixed while horizontally scrolling
      th.fixed-column,
      td.fixed-column {
        position: sticky;
        left: 0;
        background-color: $datagrid-horizontal-table-background-color;
        z-index: 99;
      }
    }
  }

  table {
    th {
      border: none;
      border-bottom: 1px solid $datagrid-table-head-border-color;
      padding: 8px 16px;
    }

    tbody {
      tr {
        background-color: $datagrid-table-body-background-color;
        td {
          padding: 8px 16px;
          border-color: $datagrid-table-body-border-color;
          border-top-width: 0px !important;
        }
        &.selected,
        &.selected:focus,
        &.selected:hover {
          td {
            background-color: $datagrid-table-body-selected-background-color !important;
            color: $datagrid-table-body-selected-font-color !important;
          }
        }
        &.new-row {
          td {
            background-color: $datagrid-table-body-newrow-background-color !important;
          }
        }
      }
    }

    thead tr {
      border: none;
      border-bottom: 1px solid $datagrid-table-head-row-border-color;
    }
  }
}

.datagrid-hover.mx-datagrid table tbody {
  tr {
    &:hover td {
      background-color: $datagrid-hover-table-data-background-color !important;
    }

    &.selected:hover td {
      background-color: $datagrid-selected-hover-table-data-background-color !important;
    }
  }
}

.mx-grid {
  .mx-grid-searchbar {
    .mx-grid-search-inputs {
      //Mobile - Large
      @media screen and (min-width: $s) and (max-width: $m) {
        flex: unset;
      }
      //Tablet
      @media screen and (min-width: $m) and (max-width: $l) {
        flex: unset;
      }
      .mx-grid-search-item {
        width: auto;
        //Mobile - Small
        @media screen and (max-width: $s) {
          width: 100%;
        }

        .mx-grid-search-label {
          width: auto;
        }
        .mx-grid-search-input {
          width: 100%;

          &:has(select) {
            position: relative;
            select {
              background-image: none;
            }
            &::after {
              @include material-icons;
              font-size: $input-icon-font-size !important;
              content: $input-dropdown-icon !important;
              position: absolute;
              right: 4px;
              top: 8px;
            }
          }
          &:has(.mx-selectbox) {
            .mx-selectbox {
              padding: 6px 8px;
            }
            .mx-selectbox-caret-wrapper {
              @include material-icons;
              margin-right: -4px;
              &::after {
                content: $input-dropdown-icon;
                font-size: $input-icon-font-size !important;
                color: $input-font-color;
              }
              .caret {
                display: none;
              }
            }
          }
          .mx-compound-control[id*="DatePicker"] {
            .btn:hover {
              box-shadow: none;
            }
          }
        }
      }
    }

    .mx-grid-search-controls {
      margin-right: 10px;
    }
  }

  //pagination controls
  .mx-grid-controlbar {
    .mx-grid-pagingbar {
      .mx-button {
        @include material-icons;
        min-width: 60px;
        font-size: $datagridshared-pagingbar-paging-button-font-size !important;
        color: $datagridshared-pagingbar-font-color;
        display: inline-block;
        padding: 2px;

        &:disabled,
        &.disabled {
          opacity: 0.3;
        }

        &:hover {
          color: $grid-pagingbar-hover-font-color;
          box-shadow: none;
        }
        &:focus,
        &:active {
          box-shadow: none;
        }

        .glyphicon {
          display: none;
        }
      }

      .mx-grid-paging-status {
        padding: 0px 16px 10px 0px;
        font-size: $grid-pagingbar-paging-status-font-size;
        min-width: 60px;
      }

      .mx-name-paging-first {
        &::before {
          content: $datagridshared-pagingbar-paging-first-icon;
        }
      }
      .mx-name-paging-previous {
        &::before {
          content: $datagridshared-pagingbar-paging-previous-icon;
        }
      }
      .mx-name-paging-next {
        &::before {
          content: $datagridshared-pagingbar-paging-next-icon;
        }
      }
      .mx-name-paging-last {
        &::before {
          content: $datagridshared-pagingbar-paging-last-icon;
        }
      }
    }
  }
}

.datagrid-striped.mx-datagrid table tbody tr {
  &:nth-child(even) td {
    background-color: $datagrid-striped-even-background-color;
    border-bottom-width: 0px;
  }

  &:nth-child(odd) td {
    background-color: $datagrid-striped-odd-background-color;
    border-bottom-width: 0px;
  }
}
.datagrid-sm.mx-datagrid {
  table tbody tr td {
    padding: 4px 16px;
    font-size: $grid-tablecompact-font-size;
  }
  table thead tr th {
    padding: 4px 16px;
    font-size: $grid-tablecompact-head-font-size;
  }
  .mx-grid-searchbar {
    padding: 4px 16px 12px;
    .mx-grid-search-inputs .mx-grid-search-item {
      .mx-grid-search-label label {
        font-size: $grid-tablecompact-font-size;
      }
      .mx-grid-search-input {
        .form-control {
          height: 32px;
        }
        .mx-compound-control {
          button {
            height: 32px;
          }
        }
      }
    }
    .mx-grid-search-controls {
      button {
        height: 32px !important;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .mx-grid-controlbar .mx-grid-toolbar {
    button {
      height: 32px !important;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@include dense-layout {
  .mx-grid,
  .mx-datagrid {
    .mx-grid-searchbar
      .mx-grid-search-inputs
      .mx-grid-search-item
      .mx-grid-search-input
      .mx-compound-control
      .btn {
      height: 35px;
    }
    table {
      tbody tr td,
      thead tr th {
        padding: 4px 16px;
        font-size: $grid-tablecompact-font-size;
      }
    }
    .mx-selectbox {
      padding: 2px 8px !important;
    }
  }
  .mx-grid-search-input:has(select) {
    &::after {
      top: 4px !important;
    }
  }
}
