.mx-filemanager {
  .form-control {
    &:not(input[value="..."]) {
      border-color: $filemanager-value-border-color;
    }

    &:has(+ button:disabled) {
      background-color: $filemanager-disabled-background-color;
    }
  }

  .mx-fileinput-download-button {
    border: 1px solid $filemanager-downloadbutton-border-color;
    display: flex;
    &:disabled {
      border: 1px solid $filemanager-downloadbutton-disabled-border-color;
    }

    &::before {
      font-size: $filemanager-download-icon-font-size;
      margin-right: 4px;
      @include material-icons;
      content: $filemanager-download-icon;
    }
  }
}
