.mx-listview {
  .selected {
    &:hover {
      background: $listview-selected-hover-background-color !important;
    }
  }
  &:not(.listview-bordered) {
    ul li {
      border-top: none !important;
    }
  }
  @media screen and (max-width: $s) {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 8px;
  }
  ul {
    @media screen and (max-width: $s) {
      margin: 0;
    }
    li {
      border-bottom: 1px solid $listview-border-color;
      padding: 16px;
      @media screen and (max-width: $s) {
        padding: 8px;
      }
      &:has(.widget-badge) {
        padding: 16px;
      }
      &.active,
      &:active,
      &:focus,
      &.selected {
        background-color: $listview-status-background-color !important;

        &:has(div.card.listitem) {
          background-color: transparent !important;
        }
      }
      &.active:hover,
      &:active:hover {
        background-color: $listview-active-hover-background-color !important;
      }
      a.mx-link {
        //background-image: $listview-link-icon;
        // height: 20px;
        // width: 20px;

        span.glyphicon-menu-right {
          display: none;
        }
      }
    }
  }
  &.listview-hover {
    ul {
      li {
        &:hover {
          background-color: $listview-hover-background-color !important;
        }
      }
    }
  }

  &.mx-listview-selectable {
    ul {
      li {
        .mx-listview-selection {
          padding: 5px 15px 0 5px;

          input[type="radio"] {
            width: 18px;
            height: 18px;

            &::before {
              border-width: 2px;
              border-color: $listview-selectable-input-border-color;
            }

            &:checked {
              &::before {
                border-color: $listview-selectable-checked-border-color;
              }

              &::after {
                background-color: $listview-selectable-checked-background-color;
              }
            }

            &.disabled,
            &:disabled,
            &[disabled] {
              &::before {
                border: none;
                background-color: $listview-selectable-disabled-background-color;
              }
            }

            &:focus {
              outline-color: $listview-selectable-focus-outline-color;
            }
          }
        }

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        &.selected {
          background-color: $listview-selectable-selected-background-color;
        }
      }
    }
  }
  &.listview-striped {
    ul li:nth-child(even) {
      background-color: $listview-stripped-background-color;
    }
  }
}
@media screen and (max-width: $s) {
  .masterdetail .masterdetail-detail {
    padding: 0;
  }
}

//Custom CSS class for Comments
.list-view--comments {
  margin: 0;

  .list-view--comments__comment {
    border-bottom: 1px solid $listview-comments-border-color;
    padding: 16px 0;

    &:first-child {
      padding-top: 0;
    }

    .list-view--comments__comment__name {
      color: $listview-comments-font-color;
    }

    .list-view--comments__comment__date {
      font-style: $listview-comments-font-style;
    }
  }
}

.masterdetail-vertical {
  .masterdetail-master {
    border-bottom: none;
  }
}
.masterdetail-detail {
  .mx-dataview {
    .mx-dataview-content {
      border-bottom: 1px solid $listview-comments-border-color;
    }
  }
}

.listitem {
  padding: 16px !important;
  background-color: $listitem-background-color;
  &.listitem-status {
    padding: 16px !important;
  }
  &.active,
  &:active,
  &:focus {
    background-color: $listitem-status-background-color !important;
  }

  &:hover {
    background-color: $listitem-hover-background-color !important;
  }

  &.active:hover,
  &:active:hover {
    background-color: $listitem-active-hover-background-color !important;
  }
}

@include dense-layout {
  .mx-listview {
    ul li {
      padding: 8px 8px 8px 16px;
    }
  }
  .listitem {
    padding: 8px 8px 8px 16px !important;
    &.card {
      border-radius: 8px;
    }
  }
}
