.mx-scrollcontainer-wrapper {
  .mx-navigationtree {
    height: 100%;
    background-color: $navigationtree-background-color;

    .navbar-inner {
      ul {
        border-right: 1px solid $navigationtree-border-color;
        li {
          a {
            padding: 16px 12px !important;
            font-size: $navigationtree-font-size;
            background-color: $navigationtree-background-color;
            color: $navigationtree-font-color;
            white-space: nowrap;
            overflow: hidden;

            &:focus,
            &:active,
            &.active {
              border-right: 2px solid $navigationtree-status-border-color;
              border-radius: 0;
              background-color: $navigationtree-status-background-color;
              outline: none;
            }
            &:hover {
              background-color: $navigationtree-hover-background-color;
            }

            img {
              margin: 0px 24px 0px 0px;
              width: 24px;
            }

            span {
              padding: 0 !important;
              margin: 0px 16px 2px 0px;
              max-width: 24px !important;
              vertical-align: middle;
            }
          }

          &.mx-navigationtree-has-items {
            > a {
              &:focus,
              &:active,
              &.active {
                border-right: none;
                border-radius: 0;
                background-color: transparent; // parent should not be selected when has child
              }
              &:hover {
                background-color: $navigationtree-hover-background-color !important;
              }
            }
            ul {
              margin-left: 8px;
              background-color: $navigationtree-list-background-color;
              li {
                min-height: 42px;
                a {
                  padding: 10px 10px 10px 24px;
                  background-color: $navigationtree-item-background-color;
                  color: $navigationtree-item-font-color;
                  font-size: $navigationtree-item-font-size;
                  font-weight: $navigationtree-item-font-weight;
                  line-height: calc(2 * #{$navigationtree-item-font-size});
                  &:focus,
                  &:active,
                  &.active {
                    color: $navigationtree-item-status-font-color;
                    background-color: $navigationtree-item-status-background-color !important;
                  }
                  &:hover {
                    background-color: $navigationtree-item-hover-background-color !important;
                  }
                }
              }
            }

            & > a:first-child 
            {
              color: $navigationtree-item-firstchild-font-color !important;
              .caret 
              {
                @include material-icons;           
                transform: rotate(180deg);
                font-size: $navigationtree-parent-icon-font-size;
                border: none;
                margin: 0px 8px 0px 0px !important;
                height: 24px;
                width: 24px;
                &::before
                {
                  content: $navigationtree-parent-icon;
                }
              }
            }

            &.mx-navigationtree-collapsed {
              a {
                background-color: $navigationtree-collapsed-background-color;
                .caret {
                  transform: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // .mx-scrollcontainer:not(.mx-scrollcontainer-open) {
  //   .mx-navigationtree {
  //     .navbar-inner {
  //       ul {
  //         li {
  //           &.mx-navigationtree-has-items {
  //             // &:hover {
  //             //   ul {
  //             //     padding: 8px !important;

  //             //     li {
  //             //       min-height: 42px;

  //             //       a {
  //             //         padding: 10px 10px 10px 24px;
  //             //         border-radius: 8px;
  //             //         height: 100%;
  //             //         line-height: normal !important;

  //             //         &:hover {
  //             //           background-color: $navigationtree-collapsed-item-hover-shadow-color !important;
  //             //         }
  //             //       }
  //             //     }
  //             //   }
  //             // }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

@include dense-layout {
  .mx-scrollcontainer-wrapper .mx-navigationtree .navbar-inner ul li {
    a {
      padding: 10px 16px;
    }

    &.mx-navigationtree-has-items ul li a {
      padding: 5px 5px 5px 24px;
    }
  }
}
