.mx-radiogroup {
  .radio {
    input[type="radio"] {
      width: 18px;
      height: 18px;
      margin-right: 0;

      &::before {
        border: 1px solid $radiobutton-border-color;        
      }

      &:checked {
        &::before {
          border-color: $radiobutton-checked-border-color;
        }
        &::after {
          background-color: $radiobutton-checked-background-color;
          width: 70%;
          height: 70%;
        }
      }
      &.disabled,
      &:disabled,
      &[disabled] {
        &::before {
          border-color: $radiobutton-disabled-border-color !important;
        }
        &::after {
          background-color: $radiobutton-disabled-background-color !important;
        }
      }
      &:focus {
        outline: none;
      }
      &:hover:not(:checked)
      { 
        &::before{
          box-shadow: 0px 0px 0px 4px $radiobutton-hover-border-color;
        }
        &::after{
          background-color: $radiobutton-hover-border-color;
        }
      }
    }
  }
}
