select.form-control {
  padding-right: 36px;
  // background-position: calc(100% - 8px) center;
  // background-image: $selectbox-icon;
}

.mx-selectbox .mx-selectbox-caret-wrapper {
  // background: $selectbox-icon no-repeat scroll 0 0 transparent !important;
  // background-position: center !important;
  width: 20px;
  height: 20px;

  .caret {
    display: none;
  }
}
