table.mx-table
{
  tbody
  {
    tr
    {
      font-size: $table-font-size;
      th{
        font-weight: $table-header-font-weight;
        padding:8px 16px;
      }
      td {
        font-weight: $table-font-weight;
        padding:8px 16px;
      }
    }
  }
  &.table-compact
  {
    tbody tr
    {
      font-size: $table-compact-font-size;
      td,th {
        padding: 4px 16px;
        
      }
    }
  }
  &.table-bordered
  {
    tbody tr td, tbody tr th
    {
      border-color:$table-border-color;  
    }
  }
  &.table-lined
  {
    tbody tr td, tbody tr th
    {
      border-color:$table-border-color;
      border-width: 1px 0;
      border-style: solid;
      &:not(:last-child)
      {
        border-right: 1px solid $table-border-color;
      }
    }
  } 
}
@include dense-layout {
 table.mx-table
 {
   tbody tr
   {
     font-size: $table-compact-font-size;
     th, td {
       padding: 4px 16px;
     }
   }
 }
}