.mx-tabcontainer:not(.tab-pills):not(.tab-bordered) {
  margin: 0;
  .mx-tabcontainer-tabs {
    border: none;
    &:only-child {
      li a {
        padding: 17px 24px;
        min-height: 56px;
      }
    }
    & > li {
      &.active > a {
        background-color: $tabcontainer-active-background-color;

        &:hover {
          background: $tabcontainer-active-hover-background-color;
        }
      }
      & > a,
      & > a:focus {
        box-sizing: border-box;
        min-height: 42px;        
        padding: 17px 24px;
        border: none;
        border-bottom: 2px solid $tabcontainer-border-color;
        border-radius: 0;
        outline: none;
        font-size: $tabcontainer-font-size;
        font-weight: $tabcontainer-font-weight !important;
        letter-spacing: 1px;
        color: $tabcontainer-font-color !important;
        cursor: pointer;
        // line-height: 22px;
        &:hover {
          border: none;
          border-bottom: 2px solid $tabcontainer-hover-border-color;
          background: $tabcontainer-hover-background-color;
        }
      }
      &.disabled,
      &[disabled] {
        a {
          border-color: $tabcontainer-disabled-border-color !important;
          color: $tabcontainer-disabled-font-color;
          cursor: not-allowed;
        }
      }
    }

    & > li.active > a,
    & > li.active > a:hover,
    & > li.active > a:focus {
      border: none;
      border-bottom: 2px $tabcontainer-active-border-color solid;
      background-color: $tabcontainer-active-background-color;
    }
  }
}
.mx-tabcontainer.tab-bordered {
  .mx-tabcontainer-tabs {
    border: none;
    &:only-child {
      li a {
        padding: 17px 24px;
        min-height: 56px;
      }
    }
    & > li {
      & > a {
        box-sizing: border-box;
        min-height: 42px;
        padding: 16px 24px;
        border: none;
        outline: none;
        letter-spacing: 1px;
        font-size: $tabcontainer-font-size;
        font-weight: $tabcontainer-font-weight !important;
        color: $tabcontainer-font-color !important;
        cursor: pointer;
        border-bottom: none;
        background-color: $tabcontainer-bordered-background-color;
        border-color: $tabcontainer-bordered-border-color;
        border-radius: 4px 4px 0px 0px;
        &:hover {
          border-color: $tabcontainer-bordered-hover-border-color;
          background: $tabcontainer-bordered-hover-background-color;
          border-width: 0px 0px 1px 0px;
          border-style: solid;
        }
      }
      &.active > a {
        border-color: $tabcontainer-bordered-active-border-color;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-bottom-color: $tabcontainer-bordered-active-border-bottom-color;
        background-color: $tabcontainer-bordered-active-background-color;
      }
    }
    &.active > a {
      border-color: $tabcontainer-bordered-active-border-color;
      border-width: 1px 1px 1px 1px;
      border-style: solid;
      border-bottom-color: $tabcontainer-bordered-active-border-bottom-color;
      background-color: $tabcontainer-bordered-active-background-color;
    }
  }
  .mx-tabcontainer-content {
    border-width: 1px;
    border-color: $tabcontainer-content-border-color;
    border-radius: 0px 4px 4px 4px;
  }
}
.mx-tabcontainer-content {
  border-width: 1px;
  border-color: $tabcontainer-content-border-color;
}

.mx-tabcontainer.tab-pills {
  margin: 0 24px;

  .mx-tabcontainer-tabs {
    border: none;

    & > li {
      &.active > a,
      &.active > a:focus {
        border: none;
        background-color: $tabpills-active-background-color;
        color: $tabpills-active-font-color;

        &:hover {
          border: none;
          background: $tabpills-active-hover-background-color;
          color: $tabpills-active-hover-font-color;
        }
      }
      & > a {
        box-sizing: border-box;
        padding: 9px 16px;
        border: none;
        border-radius: 4px;
        outline: none;
        font-size: $tabpills-font-size;
        font-weight: $tabpills-font-weight !important;
        // line-height: 22px;
        letter-spacing: 1px;
        color: $tabpills-font-color;
        background-color: $tabpills-background-color;
        cursor: pointer;

        &:hover {
          background: $tabpills-hover-background-color;
          color: $tabpills-hover-font-color;
        }
      }
      &.disabled,
      &[disabled] {
        a {
          background-color: $tabpills-disabled-background-color !important;
          color: $tabpills-disabled-font-color !important;
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }

    // & > li.active > a,
    // & > li.active > a:hover,
    // & > li.active > a:focus {
    //     border:none;
    //     border-bottom: 2px $brand-primary solid !important;
    // }
  }
}

.tab-lined.mx-tabcontainer > .mx-tabcontainer-tabs li {
  margin-right: 0px;
}
.mx-tabcontainer.tab-wizard > .mx-tabcontainer-tabs li a {
  a {
    border: 1px solid $tabcontainer-border-color !important;
    border-radius: 50% !important;
    width: 44px;
    height: 44px;
    margin-top: -5px;
  }
}

.mx-tabcontainer-badge {
  background-color: $tabcontainer-badge-background-color;
  font-weight: $tabcontainer-badge-font-weight;
  font-size: $tabcontainer-badge-font-size;
  color: $tabcontainer-badge-font-color;
  border: 1px solid $tabcontainer-badge-border-color;
  border-radius: 4px;
  min-width: 16px;
  min-height: 16px;
  text-align: center; 
  padding: 3px 4px;
  // line-height: 16px;
}



@include dense-layout {
  .mx-tabcontainer:not(.tab-pills):not(.tab-bordered)
    .mx-tabcontainer-tabs
    > li
    > a,
  .mx-tabcontainer:not(.tab-pills):not(.tab-bordered)
    .mx-tabcontainer-tabs
    > li
    > a:focus,
  .mx-tabcontainer.tab-bordered .mx-tabcontainer-tabs > li > a {
    padding: 10px 16px;
    min-height: unset;
  }

  .mx-tabcontainer.tab-pills .mx-tabcontainer-tabs > li > a {
    padding: 5px 8px;
  }
}
