.mx-grid.mx-templategrid
{
  .mx-grid-content .mx-templategrid-content-wrapper
  {
    .mx-templategrid-row
    {
      .mx-templategrid-item
      {
        padding: 8px 16px;
        border-color: $templategrid-border-color;
        font-size: $templategrid-font-size; 
        @media screen and (max-width: $s)
        {
          padding: 8px 8px;
          word-break:break-all;
        }
        &.selected,&.selected:focus,&.selected:hover
        {
          background-color: $templategrid-selected-background-color !important;
          color: $templategrid-selected-font-color !important;
        }
      }      
    }
  }  
  &.templategrid-striped
  {
    .mx-grid-content .mx-templategrid-content-wrapper
    {
      .mx-templategrid-row:nth-child(even) .mx-templategrid-item 
      {
        background-color: $templategrid-striped-even-background-color;
      }
    }
  }
  &.templategrid-lined
  {
    .mx-grid-content
    {
      border-top-width: 1px;
      // border-top-color: $templategrid-lined-head-border-color;
      @media screen and (max-width: $s)
      {
        border-top-width: 0;
      }
      .mx-templategrid-row      
      {
        &:first-child .mx-templategrid-item 
        {
          border-top: none;
        }
        .mx-templategrid-item 
        {
          padding: 8px 0px;
          @media screen and (max-width: $s)
          {
            &:last-child
            {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  &.templategrid-hover
  {
  .mx-grid-content .mx-templategrid-content-wrapper .mx-templategrid-row
  {
    .mx-templategrid-item:not(.selected):hover
    {        
        background-color: $templategrid-hover-background-color !important;        
    } 
  }
  }
}

@include dense-layout {
  .mx-grid.mx-templategrid
  {
    .mx-grid-content .mx-templategrid-content-wrapper .mx-templategrid-row .mx-templategrid-item
    {
      padding: 4px 16px;
    }
  }
}