.btn-toggle-tabs {
  border-color: $togglebutton-border-color;
  background-color: $togglebutton-background-color;
  color: $togglebutton-font-color;
  box-shadow: none !important;

  &:hover {
    border-color: $togglebutton-hover-border-color;
    background-color: $togglebutton-hover-background-color;
    color: $togglebutton-hover-font-color;
  }

  &.active,
  &:active,
  &:focus,
  &:has(+ button:not(.active):not(:focus):not(:active)) {
    border-color: $togglebutton-status-border-color;
    background-color: $togglebutton-status-background-color;
    color: $togglebutton-status-font-color;
    cursor: default;  
    outline:none !important;
    &:hover {
      background-color: $togglebutton-status-hover-background-color;
    }
  }
  &.active{
    pointer-events:none;
    &.disabled,
    &[disabled],
    &[aria-disabled] {
      background-color: $togglebutton-active-disabled-background-color !important;
      color:$togglebutton-active-disabled-font-color !important;
    }
  }

  &:first-child {
    border-radius: 8px 0px 0px 8px;
  }
}

.btn-toggle-tabs + .btn-toggle-tabs {
  margin-left: 0px;
  border-radius: 0px 8px 8px 0px;
}

.disabled,[disabled],[aria-disabled]
{
  &:has(.btn-toggle-tabs)
  {
    opacity: 1;
    .btn-toggle-tabs
    {
      border-color: $togglebutton-disabled-border-color;
      color: $togglebutton-disabled-font-color;
      background-color: $togglebutton-disabled-background-color !important;
      opacity: 1;
      pointer-events: none;
      cursor: not-allowed;
      &.active{
        background-color: $togglebutton-active-disabled-background-color !important;
        color:$togglebutton-active-disabled-font-color !important;
      }
    }
  }
}