.widget-tree-node 
{
  .widget-tree-node-branch 
  {
  .widget-tree-node-branch-header
  {
    padding: 5px 0;
    outline:none;
    svg.widget-tree-node-branch-header-icon
    {
      background-image: $treeview-header-icon !important;
      background-repeat: no-repeat;
      background-position: center;    
      path {
        display: none
      };
    }
    .widget-tree-node-branch-header-value {
      margin: 3px 16px 0px 16px;
      div {
        padding: 0;

        img,
        span {
          padding-left: 8px;
          display: inline-block;
        }
      }

      .widget-badge {
        padding: 2px 8px;
      }
    }
  }
    span.widget-tree-node-branch-header-value:has(div)
    {
      margin-top: 0px;
    }

    .widget-tree-node-body {
      .widget-tree-node-branch {
        .widget-tree-node-branch-header-value {
          .widget-badge {
            // padding: 2px 8px;
            background-color: $treeview-subitem-badge-background-color;
            color: $treeview-subitem-badge-font-color;
          }
        }
      }
    }
  }
  &.single-selection
  {
    .widget-tree-node-branch
    {
      .widget-tree-node-branch-header-value
      {
        margin: 0px 16px 0px 16px;
        cursor: pointer;     
        div
        {
          padding: 3px 0px 3px 0px;
        }   
        .selected
        {
          border-radius: 8px;
          background-color: $treeview-selection-background-color;
          padding: 3px 0px 3px 0px;
          color: $treeview-selection-font-color;
          &::after
          {
            content: "";
            background: $treeview-selection-tick-icon no-repeat;
            width: 20px;
            height: 20px;
            right: 40px;
            margin: 3px 0 0 0;
            position: absolute;
          }
        }
      }      
    }    
  }
  &.multiple-selection
  {
    .widget-tree-node-branch-header-value
    {
      display: flex;
      justify-content:space-between;
      .mx-checkbox
      {
        margin: 0;

      }
    }
  }
}

.widget-tree-node-lined-styling 
{
  .widget-tree-node {
    .widget-tree-node-branch {
      .widget-tree-node-body {
        &::before {
          border-color: $treeview-lined-line-border-color;
        }

        .widget-tree-node-branch {
          .widget-tree-node-branch-header {
            &::before {
              border-color: $treeview-lined-line-border-color;
              width: 14px;
            }
          }
        }
      }
    }
  }
}
.bottom-border
{
  border-bottom: 1px solid $treeview-selectionarea-border-color;
}
.treeview-badge-list.mx-listview
{
  border-top: 1px solid $treeview-selectionarea-border-color;
  border-bottom: 1px solid $treeview-selectionarea-border-color;
  margin-bottom: 8px;  
   ul
   {
     margin-top: 4px;
     margin-bottom: 4px;
    li
    {
        padding: 8px 4px;
        display: inline-block;
        border: none;
        .widget-badge.badge
        {
          border-radius: 4px;
          padding: 4px;
          display: flex;
        }
        .mx-link
        {
          background-image: $listview-selection-remove-icon;
          background-repeat: no-repeat;
          height: 16px;
          margin: 4px 0px 0 8px;
          background-size: 12px;
        }
    }
   }
}
