.wizard-arrow 
{
  filter: drop-shadow(0px 1px 8px rgba(21, 21, 21, 0.16));
  .wizard-step 
  {
    border-color: $wizard-border-color;
    height: 54px;
    font-weight: $wizard-font-weight;

    .wizard-step-text {
      color: $wizard-font-color;
      text-decoration: none;
    }
    &::before 
    {
      border-left-color: $wizard-border-color;
      border-width: 27px;
    }
    &::after
    {
       border-width: calc((54px / 2) - 1px);
       margin-left: -24px;
       @media screen and (min-width: $m) and (max-width: $l) 
       {
         margin-left: -25px;
       }      
    }
    &:not(:first-child)
    {
      &.wizard-step-visited .wizard-step-text::before 
      {
        margin-left: 24px;
      }    
    }
  }
  .wizard-step-visited 
  {
    background-color: $wizardarrow-visited-background-color;
    .wizard-step-text {
      margin-left: 40px !important;
      &::before 
      {
        @include material-icons;      
        content: $wizardarrow-visited-icon;
        position: absolute;
        top: 16px;
        left: 16px;        
      }
    }
    &::after {
      border-left-color: $wizardarrow-visited-border-color;
    }
  }
  

  .wizard-step-active 
  {
    background-color: $wizard-active-background-color;
    .wizard-step-text {
      color: $wizard-active-font-color;
    }
    &::after {
      border-left-color: $wizard-active-border-color;
    }
  }
  @media screen and (max-width: $s)  // for mobile devices
  {
    .wizard-step
    {
      // width: 60px;
      .wizard-step-text
      {
        font-size: $wizard-phone-font-size;
      }
      &:not(.wizard-step-active):not(.wizard-step-visited)
      {
        .wizard-step-text
        {
          visibility: hidden;
          z-index: 2;
          margin-top: -5px;
          margin-left:8px !important;
          &::before
          {
            content: '...';
            visibility: visible;
          }        
        }
      }
      &:not(:first-child)
      {
        &.wizard-step-visited 
        {
         .wizard-step-text
          {
            visibility: hidden;
            z-index: 2;
            &::before
            {
              visibility: visible;
              margin-left: 16px;
            }        
          }
        }
      }
    }
    &:has(div.wizard-step-active)
    {
      .wizard-step  
      {
        width: 60px;
      }
      .wizard-step-active 
      {
        width: 100%;
      }
    }    
  }
}

.wizard-circle 
{
  .wizard-step 
  {
    &::before {
      top: 24px;
      background-color: $wizard-border-color;
    }

    .wizard-step-number {
      border-color: $wizard-border-color !important;
      border-radius: 50%;
      min-width: auto;
      width: 48px;
      height: 48px;
      background-color: $wizard-background-color !important;
      font-size: $wizardcircle-font-size;
      font-weight: $wizardcircle-font-weight;
    }

    .wizard-step-text {
      color: $wizard-font-color;
      text-decoration: none;
    }
  }

  .wizard-step-active {
    .wizard-step-number {
      border-color: $wizard-active-border-color !important;
      background-color: $wizard-active-background-color !important;
      color: $wizard-active-font-color !important;
    }
  }

  .wizard-step-visited {
    .wizard-step-number {
      border-color: $wizardcircle-visited-border-color !important;
      background-color: $wizardcircle-visited-background-color !important;
      color: $wizardcircle-visited-font-color !important;
    }

    .wizard-step-text {
      color: $wizardcircle-visited-font-color;
    }
  }
  @media screen and (max-width: $s)  // for mobile devices
  {
    .wizard-step 
    {
      &::before
      {
        top: 20px;
      }
      &:not(.wizard-step-active)
      {
        .wizard-step-text
        {
          display: none;          
        }
        .wizard-step-number
        {
          color: $wizardcircle-phone-step-number-color !important;
          height: 24px;
          width: 24px;
          padding: 0;
          top: 8px;
        }
      }
    }
    .wizard-step-active
    {
      .wizard-step-text
      {
        margin-top: 4px !important;
        font-size: $wizardcircle-steptext-font-size;
      }
      .wizard-step-number
      {
        height: 40px;
        width: 40px;
        font-size: $wizardcircle-phone-font-size;
        line-height: 100%;
      }
    }
  }
}

@include dense-layout {
  .wizard-arrow 
  {
    .wizard-step
    {
      height: 40px;
      font-size: $wizard-dense-font-size;
      &::after{
        border-width: calc((40px / 2) - 1px);
      }
      &::before{
        border-width: 20px;
      }
    }
    .wizard-step-visited .wizard-step-text::before
    {
      top: 10px;      
    }  
  }
  .wizard-circle .wizard-step .wizard-step-number
  {
    height: 40px;
    width: 40px;
    font-size: $wizardcircle-dense-font-size;
    margin-top: 4px;
    padding: 2px 0 0 0;
  }  
}